@media (max-width: 600px){
}

@media (max-width:900px){
}

@media (max-width:1200px){
        body{
                display: flex;
                flex-flow: column nowrap;
                overflow-y: scroll;
                justify-content: flex-start;
                align-items: center;
        }

        .main-title{
                font-size: 4rem;

        }
        .collection-wrapper{
                display:flex;
                flex-flow:column nowrap;
                border: 1px #efefef dashed;
        }
        .collection-title{
                font-size: 2rem;
        }
        .book{
                font-size: 1rem;
        }
}
